/* Global Selectors */
img {
  max-width: 25%;
  max-height: 280px;
  border-radius: 8px;
  border: 1px solid slategrey;
  margin: 0 40px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}

ul {
  border-radius: 10px;
  border: 1px solid black;
  padding: 30px;
}

li {
  text-transform: capitalize;
  padding: 3px;
}

/* ID Containers */
#imageContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

#results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#chartDiv,
#chartDiv2 {
  margin-top: 100px;
  width: 33%;
  height: 700px;
}
