img {
  width: 25%;
  border-radius: 8px;
  border: 1px solid slategrey;
}

ul {
  border-radius: 10px;
  border: 1px solid black;
  padding: 30px;
}

li {
  text-transform: capitalize;
  padding: 3px;
}

#imageContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
}

#results {
  display: flex;
  justify-content: center;
}